<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/writingList/writingList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>


<div class="home">
    <nav>
        <div>

        </div>
        <div>

        </div>
        <div>
            <div class="info">Mahmud</div>
            <div class="info">Yo`Ldoshev</div>
            <img src="../../../static/img/user.png" alt="">
        </div>
    </nav>
    <main>
        <div class="writingList">
            <div class="writingList-nav">
                <div class="writingList-nav__container">
                    <div class="writingList-nav__content">
                        <a href="">Writing list</a>
                    </div>
                </div>
            </div>
            <div class="writingList-content">
                {% for essay in essays %}
                    <a class="writingList-content__item" href="{{ url_for('check_essay',essay_id=essay.id) }}">
                        <div class="header">
                            <span>Elementary</span>
                            <span>{{ essay.essay_info.essay_type.name }}</span>
                        </div>

                        <div class="main">
                            <h1 class="title">
                                Hello world
                            </h1>
                            <p class="desc">

                                    <p>{{ essay.essay_text }}</p>

                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </main>
</div>


<script src="../../../static/js/subject.js"></script>


</body>
</html>