<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href='../../static/css/subjects/subjects.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>

<div class="home">
    <nav>
        <div>

        </div>
        <div>

        </div>
        <div>
            <div class="info">Begzod</div>
            <div class="info">Jumaniyozov</div>
            <img src='../../static/img/user.png' alt="">
        </div>
    </nav>
    <main>
        <div class="courses">
            <div class="courses__wrapper">

                <div class="courses__item">
                    <h1 class="courses__item-title">Fanlar :</h1>

                    <div class="courses__item-container">

                    </div>
                </div>

            </div>

            <div class="courses__selected">
                <div class="courses__selected-title">
                    Tanlangan fanlar :
                </div>
                <div class="courses__selected-container">

                </div>


                <div class="courses__selected-submit">


                    <div class="submit">Submit</div>
                </div>
            </div>

        </div>
    </main>
</div>

<script src='../../static/js/subjects.js'></script>


</body>
</html>