<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/creat/create_task.css">
</head>
<body>
<div class="kottasi">
    <form action="{{ url_for("creat_task") }}" method="post">
        <div class="subject">
            <div class="subject_input">
                <h4>Create task </h4>
                <div class="subject_input_mini">
                    <h3>task name</h3>
                    <input type="text" name="name">
                </div>
                <div class="subjects_button">
                    <button>Sumbit</button>
                </div>
            </div>
        </div>
    </form>


</div>
</body>
</html>